LOGGING_LEVEL=DEBUG

AI_SERVICES_PROVIDER=watsonxai

DEEPSEEK_API_KEY=xxxx
DEEPSEEK_BASE_URL=https://api.deepseek.com

WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_API_KEY=<watsonx_api_key>
WATSONX_PROJECT_ID=<watsonx_project_id>
WATSONX_SPACE_ID=<watsonx_space_id>

OLLAMA_ENDPOINT_URL=http://localhost:11434
MILVUS_CONNECTION_URI=http://localhost:19530

OPENAI_API_KEY=<wxo_api_key>

TAVILY_API_KEY=xxxx


GOOGLE_OAUTH_DESKTOP_APP_CLIENT_ID=452790418410-so9qi4umkjc5ma94o297c2pu3vtixxxx.apps.googleusercontent.com
GOOGLE_OAUTH_DESKTOP_APP_CLIENT_SECRET=xxxx
GOOGLE_OAUTH_DESKTOP_APP_REDIRECT_URI=http://localhost:8080/callback
GOOGLE_OAUTH_DESKTOP_APP_DEEP_LINK_SCHEME=claude://auth

GOOGLE_OAUTH_WEB_APP_CLIENT_ID=452790418410-s18p3ndlen5tekgrnqjna1f9ad9vxxxx.apps.googleusercontent.com
#GOOGLE_OAUTH_WEB_APP_CLIENT_SECRET=xxxx
GOOGLE_OAUTH_WEB_APP_REDIRECT_URI=https://localhost:5000/oauth2callback