mcp[cli]
fastapi
slowapi
ibm-watson-machine-learning
langchain-deepseek
langchain-tavily
langchain-ollama
langchain-community
langgraph
langchain
langchain-mcp-adapters
streamlit

# For Google OAuth SSO
flask
pyopenssl
google-auth
requests