LOGGING_LEVEL=DEBUG

AI_SERVICES_PROVIDER=watsonxai
DEEPSEEK_API_KEY=<deepseek_api_key>

WO_DEVELOPER_EDITION_SOURCE=orchestrate
WO_INSTANCE=<service_instance_url>
WD_API_KEY=<wxo_api_key>

WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_API_KEY=<watsonx_api_key>
WATSONX_PROJECT_ID=<watsonx_project_id>
WATSONX_SPACE_ID=<watsonx_space_id>

OPENAI_API_KEY=<wxo_api_key>

TAVILY_API_KEY=<tavily_api_key>